/* resetting  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities  */
button{
  font-weight: 600;
}
body{
  background: rgb(228, 221, 221);
}
body .heading{
  text-align: center;
  padding: 12px;
  font-size: 3rem;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 10px;
}
.form input{
  padding: 12px;
  border-radius: 10px;
  border-color: antiquewhite;
  border: 1px;
  outline: none;
  background: #ccdd;
  margin: 12px;
}
.form input:focus{
  border: 2px solid red;
}
.form input[type=file]{
  width: 200px;
}
.form button#add-btn,
.form button#update-btn{
  color: #fff;
  background: rgb(39, 110, 39);
}

/* Search form and button */
#searchContainer{
  /* override form class style */
  flex-direction: row; 
  gap: 2px;
}
.form #search{
  background: rgb(187, 187, 136);
}
.form #search-btn{
  color: #fff;
  background: #444;
}
.resp span#searchResult{
  display: block;
  font-size: 23px;
  text-align: center;
}


/* Student Profile card */
.student-cards{
  display: block;
  height: 100vh;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.student-cards .profile {
  float: left;
  margin-top: 50px;
}
.profile img{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.student-cards .profile .student_details{
  margin: 12px;
}

.student-cards .profile .btn
{
  display: flex;
  margin-left: 12px;
  flex-direction: column;
  gap: 12px;
}
.profile .btn .del-btn,
.profile .btn .edit-btn,
.form button{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 12px;
  background: greenyellow;
  cursor: pointer;
  width: 150px;
  
}
.profile .btn .del-btn{
  background: tomato;
  color: #fff;
}
.profile .btn .edit-btn{
  background: #333;
  color: #fff;
}


@media only screen and (max-width: 920px)
{

  .form .input-con{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .student-cards{
    display: block;
    height: 100vh;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  .student-cards .profile {
    margin: 10px;
  }

}
@media only screen and (max-width: 800px)
{
  .container{
    max-width: 800px;
  }

  .form .input-con{
    margin: 0 auto;
    display: flex;
    flex-direction:column;
  }
  .student-cards{
    display: block;
    height: 100vh;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  .student-cards .profile {
    margin: 0 auto;
    position: relative;
  }



}
@media only screen and (max-width: 400px)
{

  .form .input-con{
    margin: 0 auto;
    display: flex;
    flex-direction:column;
  }
  .student-cards{
    display: block;
    height: 100vh;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  .student-cards .profile {
    margin-left: 20vw; 
    margin-top: 23px;   
  }
  .profile .btn .del-btn,
  .profile .btn .edit-btn,
  .form button{
    margin-top: 12px;
  }



}